@use 'globals';
@import 'mixins';
$breakpoint-additional: 1400px;

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: globals.$breakpoint-medium) {
    gap: 40px;
  }

  &__title {
    padding: 0px 20px;
    @media screen and (min-width: globals.$breakpoint-medium) {
      padding: 0px 40px;
    }
    @media screen and (min-width: globals.$breakpoint-large) {
      padding: 0px 80px;
    }
    @media screen and (min-width: globals.$breakpoint-extra-large) {
      padding: 0px 160px;
    }
  }

  &__foto-container {
    position: relative;
    height: 150px;
    z-index: 10;
    @media screen and (min-width: globals.$breakpoint-medium) {
      height: 300px;
      width: 102%;
    }
    @media screen and (min-width: globals.$breakpoint-large) {
      height: 400px;
    }
  }

  &__foto {
    object-fit: cover;
    width: 100%;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
    @media screen and (min-width: globals.$breakpoint-medium) {
      padding: 0px 40px;
      gap: 40px;
    }
    @media screen and (min-width: globals.$breakpoint-large) {
      padding: 0px 80px;
    }
    @media screen and (min-width: globals.$breakpoint-extra-large) {
      padding: 0px 160px;
    }
  }
}

.name-sacramento-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -60px;
  padding: 0 50px;
  @media screen and (min-width: globals.$breakpoint-medium) {
    width: 100%;
    padding: 0 100px;
  }
  @media screen and (min-width: globals.$breakpoint-extra-large) {
    padding: 0 200px;
  }
}

.name-sacramento {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  font-style: normal;
  color: globals.$font-color-pink;
  font-size: 60px;
  transform: rotate(-25deg);
  @media screen and (min-width: globals.$breakpoint-medium) {
    font-size: 100px;
  }
}

.paragraph__and-box {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  @media screen and (min-width: $breakpoint-additional) {
    flex-direction: row;
    gap: 40px;
  }
}

.paragraph__near-box {
  @media screen and (min-width: $breakpoint-additional) {
    flex: 1;
    max-width: 51%;
    min-width: 49%;
  }
}

.info-box {
  border: 1px solid #626262;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  @media screen and (min-width: $breakpoint-additional) {
    margin-top: -100px;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: center;
    border: none;
    padding: 0;
    min-width: 80px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: globals.$breakpoint-medium) {
      padding: 20px;
      border-radius: 0 0 0 100px;
    }
    @media screen and (min-width: globals.$breakpoint-large) {
      padding: 60px;
    }
  }

  &__button {
    border-radius: 10px;
    padding: 0 5px;
    color: globals.$text-color;
    min-width: 255px;
    @include button-styles;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

.paragraphs-container {
  display: flex;
  gap: 40px;
}

h3 {
  color: #222222;
  font-weight: 500;
  font-family: 'Unbounded';
}
