@use 'globals';
@import 'mixins';

.contactForm {
  padding: 10px 20px 60px;
  @media screen and (min-width: globals.$breakpoint-medium) {
    padding: 0px 40px 80px;
  }
  @media screen and (min-width: globals.$breakpoint-large) {
    padding: 0px 80px 100px;
  }
  @media screen and (min-width: globals.$breakpoint-extra-large) {
    padding: 40px 160px 120px;
  }

  &__first-container {
    display: flex;
    gap: 40px;
    flex-direction: column;
    @media screen and (min-width: globals.$breakpoint-medium) {
      gap: 40px;
      flex-direction: row;
    }
    @media screen and (min-width: globals.$breakpoint-large) {
      gap: 80px;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__button {
    align-self: flex-end;
    @include button-styles;
    width: 200px;
    padding: 10px 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 60px;

  textarea {
    height: 200px;
    padding: 10px 5px;
    border-bottom: 1px solid #222222;
    background-color: transparent;

    &:focus {
      outline: none;
      border-bottom-color: globals.$font-color-pink;
    }
  }

  label {
    cursor: pointer;
  }

  input {
    background-color: transparent;
    border-bottom: 1px solid #222222;
    padding: 10px 5px;
    transition: border-bottom-color 0.3s ease;

    &:focus {
      outline: none;
      border-bottom-color: globals.$font-color-pink;
    }
  }
}

.required-star {
  color: globals.$font-color-pink;
}

.success-message {
  color: globals.$font-color-green;
  font-weight: bold;
}
