$background-color: #f7f7f7;
$text-color: #222222;
$main-color: #ffffff;
$font-color-green: #07b401;
$font-color-pink: #eb34cc;
$font-size-body: 20px;
$font-size-title: 74px;
$breakpoint-small: 320px; // Małe ekrany (telefony)
$breakpoint-medium: 769px; // Średnie ekrany (tablety)
$breakpoint-large: 992px; // Duże ekrany (małe laptopy)
$breakpoint-extra-large: 1200px; // Bardzo duże ekrany (laptopy i desktopy)
$breakpoint-foto: 1500px;
$breakpoint-extra-extra-large: 1900px;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: white;
  color: $text-color;
  height: 100%;
  @media screen and (min-width: 769px) {
    font-size: $font-size-body;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  gap: 80px;
}

h2 {
  font-family: 'Unbounded', sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
}

.white-bar {
  display: none;
  @media screen and (min-width: $breakpoint-medium) {
    display: flex;
    background-color: white;
    height: 40px;
  }
}


.p-green {
  color: $font-color-green;
}