@use 'globals';
@import 'mixins';

.home {
  // position: relative;
  @media screen and (min-width: globals.$breakpoint-medium) {
    min-height: 100vh;
    // min-height: calc(100vh - 80px);

  }
  @media screen and (min-width: globals.$breakpoint-foto) {
    // height: 100vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    margin-top: 40px;
    @media screen and (min-width: globals.$breakpoint-medium) {
      padding: 0px 40px;
      height: calc(100% - 80px);
    }
    @media screen and (min-width: globals.$breakpoint-large) {
      padding: 0px 80px;
    }
    @media screen and (min-width: globals.$breakpoint-extra-large) {
      padding: 0px 160px;
    }
    @media screen and (min-width: globals.$breakpoint-foto) {
      flex-direction: row;
      gap: 20px;
    }
    @media screen and (min-width: globals.$breakpoint-extra-extra-large) {
      padding-left: 160px;
      justify-content: space-around;
      margin-top: 60px;

    }
  }

  &__title {
    z-index: 10;
    text-align: center;
    @media screen and (min-width: globals.$breakpoint-foto) {
      text-align: start;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @media screen and (min-width: globals.$breakpoint-medium) {
      gap: 40px;
    }
  }

  &__button {
    @include button-styles;
    width: 200px;
    padding: 10px 20px;
  }

  &__foto-container {
    width: 300px;
    min-height: 300px;
    @media screen and (min-width: globals.$breakpoint-medium) {
      width: 100%;
      max-width: 800px;
    }
    @media screen and (min-width: globals.$breakpoint-extra-extra-large) {
      width: auto;
    }
  }

  &__foto {
    border-radius: 0 0 0 100px;
    width: 100%;
    max-height: 100%;
    height: auto;
    @media screen and (min-width: globals.$breakpoint-medium) {
      min-height: 600px;
    }
  }
}

.details__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  @media screen and (min-width: globals.$breakpoint-foto) {
    gap: 40px;
    max-width: 500px;
    align-items: flex-start;
  }
}

h1 {
  font-family: 'Unbounded', sans-serif;
  font-size: 32px;
  font-weight: 400;
  @media screen and (min-width: globals.$breakpoint-medium) {
    font-size: 48px;
    transform: translate(0%, 0%);
    display: inline-block;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.5;
    max-height: 114px;
    white-space: nowrap;
  }
  @media screen and (min-width: globals.$breakpoint-extra-large) {
    padding-left: 0;
    font-size: 64px;
  }
  @media screen and (min-width: globals.$breakpoint-extra-extra-large) {
    font-size: globals.$font-size-title;
  }
  @media screen and (min-width: 2500px) {
    font-size: 96px;
  }
}

.details__content {
  text-align: center;
  @media screen and (min-width: globals.$breakpoint-foto) {
    max-width: 400px;
    text-align: start;
  }
}
