@use 'globals';
@import 'mixins';
$h2-size: 34px;

.skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  height: 100%;
  padding: 0px 20px;
  @media screen and (min-width: globals.$breakpoint-medium) {
    padding: 0px 40px;
    gap: 40px;
  }
  @media screen and (min-width: globals.$breakpoint-large) {
    padding: 0px 80px;
  }
  @media screen and (min-width: globals.$breakpoint-extra-large) {
    padding: 0px 160px;
  }
}

.experience {
  font-size: $h2-size;
  padding-top: 40px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: globals.$breakpoint-large) {
      gap: 40px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    @media screen and (min-width: globals.$breakpoint-medium) {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      grid-template-rows: auto;
    }
    @media screen and (min-width: globals.$breakpoint-large) {
      grid-gap: 20px;
    }
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (min-width: 450px) {
    gap: 0;
  }
  @media screen and (min-width: globals.$breakpoint-medium) {
    align-items: flex-start;
    max-height: 450px;
  }

  &__element {
    cursor: default;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease-out;
    &:hover {
      transform: scale(1.3);
    }
  }

  &__icon {
    font-size: 40px;
    @media screen and (min-width: globals.$breakpoint-medium) {
      font-size: 50px;
    }
  }
}

.divider-skills {
  @include divider;
}
